.orderCard
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    width: 100%
    border: 0.1em solid #4dc47d
    background-color: #181a1b
    border-radius: 0.3em
    padding-left: 0.5em
    margin-bottom: 0.5em
    color: white
    box-shadow: 0.2em 0.2em #4dc47d

.orderInfo
    display: flex
    flex-direction: column
    justify-content: center
    width: auto
    font-size: small

.movieOrderCard
    display: flex
    flex-direction: column
    justify-content: center
    height: 6em
    width: 10.67em

.DashboardCardPoster
    max-height: 100%
    max-width: 100%
    border-radius: 0.3em
