.orderCard
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    width: 100%
    border: 0.1em solid #4dc47d
    background-color: #4dc47d
    border-radius: 0.3em
    padding-left: 0.5em
    margin-bottom: 0.5em

.orderInfo
    display: flex
    flex-direction: column
    justify-content: center
    width: auto
    font-size: small

.movieOrderCard
    display: flex
    flex-direction: column
    justify-content: center
    height: 6em
    width: 10.67em