.homeBody
    height: 100vh
    padding: 0
    margin: 0

.home
    display: flex
    flex-direction: column
    justify-content: center
    height: 95vh

.searchedMovies
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    width: 100%  
    height: 100%

.movieContainer
    flex: 1 0 20%
    width: 100%
    text-align: center

.imgSearched
    width: 12em
    height: 8em