.carrousel
    display: flex
    flex-direction: row
    height: 6em
    width: 100%

.chevron
    display: flex
    flex-direction: row
    width: 1em
    justify-content: center
    align-items: center
    cursor: pointer
    color: rgba(0, 0, 0, 0)

.chLeft
    border-top-right-radius: 0.3em
    border-bottom-right-radius: 0.3em

.chRight
    border-top-left-radius: 0.3em
    border-bottom-left-radius: 0.3em

.chevron:hover
    background-color: rgba(30, 30, 30, 0.5)
    color: #05cc47
    visibility: visible

.cardContainer
    display: flex
    flex-direction: row
    flex-grow: 1