.header
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    background-color: #181a1b
    color: white
    font-size: small
    height: 4em
    top: 0
    width: 100%
    z-index: 1

.headerLogo
    font-size: 2em
    margin-left: 1em
    color: #05cc47
    cursor: pointer

.actionPanel
    display: flex
    flex-direction: row
    align-items: center
    margin-right: 2em

.fa-search
    padding-top: 0.3em
    cursor: pointer
    margin-right: 1em
    color: #05cc47

.fa-user-circle
    cursor: pointer
    color: #05cc47