.register
    display: flex
    flex-direction: column
    width: 95%
    justify-content: center
    align-items: center

.registerForm
    display: flex
    flex-direction: column
    width: auto
    height: 50vh
    justify-content: space-evenly

.okPw
    border: 0.3em solid green
    background-color: rgb(220, 255, 220)

.badPw
    border: 0.3em solid red
    background-color: rgb(255, 220, 220)